{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Reporte de Productos - Tienda SAGS
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/assets/style/style.css">
{% endblock %}

{% block body %}
<body class="general-body">
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    <div class="container-md">
        <!-- <img src="{{ url_for('static', filename='Styles/sags.png') }}" alt="libro de biblioteca" height="500px"> -->
    </div>
    {% endblock %}
{% endblock %}