{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Tienda SAGS - Bodegas
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/assets/style/style.css">
{% endblock %}

{% block body %}
<body class="general-body">
    {% block navbar %}
        {% include 'navbar8.html' %}
    {% endblock %}

    <div class="main-content">
        {% block content %}
        <div class="container mt-4">
            <h2>Bodegas</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID Bodega</th>
                            <th scope="col">Nombre de Bodega</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bodega in datos %}
                        <tr>
                            <td>{{ bodega[0] }}</td>
                            <td>{{ bodega[1] }}</td>
                            <td>{{ bodega[2] }}</td>
                            <td>
                                <a href="{{ url_for('editar_bodega', id_bodega=bodega[0], nombre_bodega=bodega[1], ubicacion=bodega[2]) }}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock %}
    </div>

</body>
{% block footer %}
    <footer class="footer mt-auto py-3">
        <div class="container-fluid text-center">
            <span class="text-light">VRAM© 2024 TODOS LOS DERECHOS RESERVADOS</span>
        </div>
    </footer>
    {% endblock %}
{% endblock %}
