{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Editar Producto
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/assets/style/style.css">
    <link rel="stylesheet" href="../static/assets/style/formularios.css">
{% endblock %}

{% block body %}
    <div class="main-content2">
        {% block content %}
        <div class="container-md mt-4">
            <div class="mb-3">
                <a href="{{ url_for('productos') }}" class="btn btn-primary">Volver</a>
            </div>
            <h2>Editar Producto</h2>
            <form method="post" action="{{ url_for('editar_producto', id_producto=id_producto) }}">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.nombre.label(class="form-label") }}
                    {{ form.nombre(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.cantidad.label(class="form-label") }}
                    {{ form.cantidad(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.presentacion.label(class="form-label") }}
                    {{ form.presentacion(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.fk_bodega.label(class="form-label") }}
                    {{ form.fk_bodega(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.fk_marca.label(class="form-label") }}
                    {{ form.fk_marca(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.fk_categoria.label(class="form-label") }}
                    {{ form.fk_categoria(class="form-control") }}
                </div>

                <div class="d-flex justify-content-between">
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('productos') }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
        {% endblock %}
    </div>
{% endblock %}

