{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Tienda SAGS Web App - Editar Usuario
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/assets/style/style.css">
    <link rel="stylesheet" href="../static/assets/style/formularios.css">
{% endblock %}

{% block body %}
    <div class="main-content2">
        {% block content %}
        <div class="container-md">
            <div class="container mt-4">
                <h2 class="mb-4">Editar Usuario</h2>
                <form action="{{ url_for('update2_usuario', id_usuario=datos[0]) }}" method="post">
                    <input type="hidden" name="original_nombre_completo" value="{{ datos[1] }}">
                    <input type="hidden" name="original_tipo_usuario" value="{{ datos[2] }}">
                    <input type="hidden" name="original_correo" value="{{ datos[3] }}">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nombre_completo" class="form-label">Nombre</label>
                            <input type="text" name="nombre_completo" class="form-control" value="{{ datos[1] }}" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="tipo_usuario" class="form-label">Tipo de Usuario</label>
                            <input type="text" name="tipo_usuario" class="form-control" value="{{ datos[2] }}" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="correo" class="form-label">Correo</label>
                            <input type="text" name="correo" class="form-control" value="{{ datos[3] }}" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="contrasena" class="form-label">Contraseña</label>
                            <input type="password" name="contrasena" class="form-control" value="{{ datos[4] }}" required>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        <a href="{{ url_for('usuarios') }}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}
