{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Sags Web App - Insertar Nuevo Producto
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/assets/style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container-md">
    <div class="form-container">
        <h2>Agregar nuevo producto</h2>
        <form action="{{ url_for('insertar_producto') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nombre.label(class="form-control-label") }}
                {{ form.nombre(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.cantidad.label(class="form-control-label") }}
                {{ form.cantidad(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.presentación.label(class="form-control-label") }}
                {{ form.presentación(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.fk_proveedores.label(class="form-control-label") }}
                {{ form.fk_proveedores(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.fk_bodega.label(class="form-control-label") }}
                {{ form.fk_bodega(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.fk_categoria.label(class="form-control-label") }}
                {{ form.fk_categoria(class="form-control") }}
            </div>
            <div class="form-group text-center">
                {{ form.submit(class="btn btn-primary btn-block") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
