<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/assets/style/login2.css">
    <link rel="stylesheet" href="cl-icon/css/all.min.css">
</head>
<body>
<div class="wrapper">
    <form action="{{ url_for('login') }}" method="post" class="form">
        <h1 class="title">Inicio</h1>
        <div class="inp">
            <input type="email" name="username" id="" class="input" placeholder="Usuario" required
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="inp">
            <input type="password" name="password" id="" class="input" placeholder="Contraseña" required>
            <i class="fa-solid fa-lock"></i>
        </div>
        <button class="submit">Iniciar Sesion</button>
    </form>

    <div></div>
    <div class="banner">
        <h1 class="wel_text">Bienvenido<br/> a SAGS<br/></h1>
    </div>
</div>
</body>
</html>