<nav class="navbar navbar-inverse mi-nav" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">SAGS</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="{{url_for('productos2')}}">Productos</a>
                <a class="nav-link" href="{{url_for('bodegas2')}}">Bodegas</a>
                <a class="nav-link" href="{{url_for('reportes2')}}">Reportes</a>
            </div>
        </div>
    </div>
    </nav>