{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Tienda SAGS
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/assets/style/style.css">
{% endblock %}

{% block body %}
<body class="general-body">
    {% block navbar %}
        {% include 'navbar7.html' %}
    {% endblock %}

    <div class="main-content">
        {% block content %}
        <div class="container mt-4">
            <h2>Lista de Productos</h2>
            <div class="d-flex mb-3">
                <a href="{{ url_for('buscar_productos') }}" class="btn btn-secondary me-2">Buscar Productos</a>
                <a href="{{ url_for('insertar_producto') }}" class="btn btn-success">Insertar Producto</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID Producto</th>
                            <th scope="col">Nombre del Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Presentación</th>
                            <th scope="col">Nombre de la Bodega</th>
                            <th scope="col">Nombre del Proveedor</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fila in datos %}
                        <tr>
                            <td>{{ fila[0] }}</td>
                            <td>{{ fila[1] }}</td>
                            <td>{{ fila[2] }}</td>
                            <td>{{ fila[3] }}</td>
                            <td>{{ fila[4] }}</td>
                            <td>{{ fila[5] }}</td>
                            <td>{{ fila[6] }}</td>
                            <td>
                                <a href="{{ url_for('editar_producto', id_producto=fila[0], nombre_producto=fila[1], cantidad=fila[2], presentacion=fila[3], nombre_bodega=fila[4], nombre_proveedor=fila[5], categoria=fila[6]) }}" class="btn btn-primary btn-sm">Editar</a>
                                <form action="{{ url_for('eliminar_producto') }}" method="post" style="display:inline;">
                                    <input type="hidden" name="id_producto" value="{{ fila[0] }}">
                                    <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?');">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Controles de Paginación -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('productosp', page=page-1) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    
                    {% for p in range(1, (total // per_page) + 2) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('productos', page=p) }}">{{ p }}</a>
                    </li>
                    {% endfor %}
                    
                    {% if page < (total // per_page) + 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('productos', page=page+1) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endblock %}
    </div>

    {% block footer %}
    <footer class="footer mt-auto py-3">
        <div class="container-fluid text-center">
            <span class="text-light">VRAM© 2024 TODOS LOS DERECHOS RESERVADOS</span>
        </div>
    </footer>
    {% endblock %}
</body>
{% endblock %}


