{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Tienda SAGS
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/assets/style/style.css">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID_producto</th>
                            <th scope="col">Nombre del producto</th>
                            <th scope="col">Existencia</th>
                            <th scope="col">Presentación</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Nombre del proveedor</th>
                            <th scope="col">Marca</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fila in datos %}
                        <tr>
                            <td>{{ fila[0] }}</td>
                            <td>{{ fila[1] }}</td>
                            <td>{{ fila[2] }}</td>
                            <td>{{ fila[3] }}</td>
                            <td>{{ fila[4] }}</td>
                            <td>{{ fila[5] }}</td>
                            <td>{{ fila[6] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}




